<div class="empty-space"></div>
<div class="empty-space"></div>
<div class="row">
  <h1 class="educa expereduc">Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="65"
      [showUnits]="false"
      [title]="'HTML'"
      [titleColor]="'pink'"
      [titleFontSize]="'17px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="65"
      [showUnits]="false"
      [title]="'CSS'"
      [titleColor]="'pink'"
      [titleFontSize]="'17px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="65"
      [showUnits]="false"
      [title]="'Javascript'"
      [titleColor]="'pink'"
      [titleFontSize]="'17px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="65"
      [showUnits]="false"
      [title]="'Typescript'"
      [titleColor]="'pink'"
      [titleFontSize]="'17px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="65"
      [showUnits]="false"
      [title]="'HTTP'"
      [titleColor]="'pink'"
      [titleFontSize]="'17px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="65"
      [showUnits]="false"
      [title]="'Java'"
      [titleColor]="'pink'"
      [titleFontSize]="'17px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="65"
      [showUnits]="false"
      [title]="'GihHub'"
      [titleColor]="'pink'"
      [titleFontSize]="'17px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="65"
      [showUnits]="false"
      [title]="'Python'"
      [titleColor]="'pink'"
      [titleFontSize]="'17px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  
</div>
